.container {
    margin: 40px auto;
    width: 500px;
}

button {
    cursor: pointer;
}

.re {
    font-size: 14px;
}

h1 {
    position: relative;
    margin: 20px 0;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

h1 > a {
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 12px;
}

h1 > .create {
    margin-left: auto;
    background-color: aqua;
}

h1 > .search {
    margin-left: 10px;
    background-color: orange;
}

h1 > .likes {
    margin-left: 17px;
    padding-bottom: 3px;
    font-size: 17px;
    color: magenta;
}

h1 > form > .like {
    margin-left: 13px;
    vertical-align: 3px;
    border-radius: 3px;
    border-color: magenta;
    font-weight: bold;
    color: magenta;
}

h1 > .edit {
    margin-left: auto;
    background-color: aqua;
}

h1 > .destroy {
    margin-left: 10px;
    vertical-align: 2px;
    color: red;
}

#dialog {
    display: none;
    z-index: 1;
    position: absolute;
    top: 42px;
    right: -13px;
    border: 2px solid black;
    width: 270px;
    background-color: white;
}

#dialog > .close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-bottom: thin solid black;
    border-left: thin solid black;
    width: 25px;
    height: 25px;
}

#dialog > p {
    margin: 12px 0 10px 15px;
    font-size: 15px;
}

#dialog > .choices {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#dialog > .choices > form > .destroy {
    vertical-align: 2.5px;
    color: red;
}

h2 {
    margin-top: 20px;
    font-size: 19px;
}

.lower {
    margin-top: -16px;
    margin-bottom: 25px;
    font-size: 15px;
    display: flex;
    justify-content: right;
    column-gap: 17px;
    color: dimgray;
}

.detail {
    border: thin dotted black;
    padding: 3px 8px;
    height: 150px;
}

.float {
    float: left;
}

.sort {
    margin: -10px 0 -3px 345px;
    font-size: 15px;
}

.float + .sort {
    margin-top: 25px;
}

.sort select {
    font-size: 15px;
}

ul {
    clear: both;
    display: none;
    padding-left: 0;
}

#order_0 {
    display: block;
}

li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

li > .left > .likes {
    margin-left: 10px;
    font-size: 15px;
    color: magenta;
}

li > .right {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: dimgray;
}

input, textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.error {
    margin-bottom: 10px;
    font-size: 14px;
    color: red;
}

.btn {
    text-align: right;
}
